/*
 * Author: Hanni Abu
 * URL: http://hanniabu.com
 */

/*==================================
			   GENERAL
===================================*/
body, html {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #F4F5F6;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	color: #212121;
	max-width: calc(100% - 20px);
	margin-left: 20px;
}
a:hover, a:active, a:focus {
  outline: 0;
}
button:focus {
	outline:0 !important;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.block {
	display: block;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.dim {
	filter:alpha(opacity=50); /* IE */
	opacity: 0.5; /* Safari, Opera */
	-moz-opacity:0.5; /* FireFox */
	z-index: 10;
	height: 100%;
	width: 100%;
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	top: 0px;
	left: 0px;
}
.shadow {
	box-shadow: 0 1px 3px 0 #888;
}
.code {
  background-color:#EEEEEE;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
	clip: rect(1px, 1px, 1px, 1px);
	pointer-events: none;
}


/*==================================
			 ANIMATIONS
===================================*/
.fadeOutRight {
	animation-duration: .2s;
}


/*==================================
				NO JAVASCRIPT
===================================*/
noscript {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2000;
	background-color: #fff;
	text-align: center;
	padding-top: 15%;
	padding-left: 10px;
	padding-right: 10px;
}
noscript h4,
noscript h5 {
	padding-left: 10px;
	padding-right: 10px;
}
noscript h5 {
	font-size: 1.05em;
	margin-top: 15px;
}


/*==================================
			   SIDEBAR
===================================*/
/* Sidebar */
#sidebar-menu {
	z-index: 100;
	position: fixed;
	/*position: absolute;*/
	top: 0;
	left: -210px;
	width: 250px;
	height: 100%;
	overflow-y: auto;
	background: #fefefe;
	box-shadow: 0px 0 15px #888;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#sidebar-menu.toggled {
	left: 0;
}
#sidebar-menu::-webkit-scrollbar {
	display: none;
}

/* Sidebar Nav Toggle */
#nav-toggle {
	position: absolute;
	right: 0px;
	height: 100px;
	padding: 10px;
	padding-left: 12px;
	z-index: 1000;
}
#nav-toggle div {
	width: 5px;
	height: 5px;
	margin: 5px;
	border: 4px solid #fff;
	border-radius: 100%;
}

/* Sidebar Nav */
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #212121;
	font-weight: 500;
	line-height: 45px;
}
.sidebar-nav li a:hover {
	text-decoration: none;
	background-color: #F7F7F7;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
	color: #34D7ED;
}
.sidebar-nav > li > .active,
.sidebar-nav > li > .active,
.sidebar-nav > li > .active {
	color: #34D7ED;
}

/* Sidebar Nav Brand */
.sidebar-nav > .sidebar-brand {
	height: 100px;
	font-size: 30px;
	line-height: 60px;
	padding-top: 20px;
	background-color: #34D7ED;
}
.sidebar-nav > .sidebar-brand img {
	margin-top: -7px;
	height: 40px;
	width: auto;
	margin-right: 5px;
}
.sidebar-nav > .sidebar-brand a,
.sidebar-nav > .sidebar-brand a:active,
.sidebar-nav > .sidebar-brand a:focus {
	color: #fff;
	font-weight: 300;
}
.sidebar-nav > .sidebar-brand a:hover {
	background-color: #34D7ED;
}
.sidebar-nav li:nth-child(1) {
	box-shadow: inset 0 -30px 30px -30px #aeaeae;
}
.sidebar-nav li:nth-child(2) {
	margin-top: 20px;
}


/*==================================
			   NOTE TAB
===================================*/
#note-tab {
	position: absolute;
	z-index: 50;
	background-color: #fefefe;
	right: 70px;
	top: -8px;
	border-radius: 5px;
	box-shadow: 0 1px 8px 0 #888;
}
#note-tab p {
	margin: 10px 8px 3px 8px;
}
#note-tab a {
	color: #212121;
}


/*==================================
			 HELP BOXES
===================================*/
.help-box {
	position: absolute;
	z-index: 350;
	background-color: #fefefe;
	/*border-radius: 5px;*/
	box-shadow: 1px 1px 8px 0 #888;
	display: none;
}
.help-box p {
	margin: 8px;
}
#help-box1 {
	left: 30px;
	top: 15px;
}
#help-box2 {
	left: 240px;
	top: 150px;
}
#help-box3 {
	left: 250px;
	top: 200px;
}


/*==================================
			 SMALL SCREEN NOTICE
===================================*/
#small-screen-notice .modal-dialog .modal-content {
	border-radius: 0;
	box-shadow: 0 1px 3px 0 #888;
}


/*==================================
			  CONTENT
===================================*/
#content-wrapper {
	min-height: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#content-wrapper .page .page-content label {
	outline: none;
	border-radius: 0px;
}


/*==================================
			   PAGES
===================================*/
.page .page-header {
	background-color: #FF4081;    
	color: #fff;
	margin-top: 0;
	padding-top: 0;
	border: none;
}
.page .page-header h1 {
	font-size: 3em;
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 8px;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.page .page-content .shadow {
	background-color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-top: 1px;
}
.page .page-content .shadow h2 {
	font-size: 1.7em;
	font-weight: 400;
	text-align: left;
	text-indent: 20px;
	margin-top: 15px;
	margin-bottom: 8px;
}
.page .page-content .shadow hr {
	border-color: #ddd;
	margin-top: 0;
}
.page .page-content .options {
	margin-top: 15px;
}
.page .page-content .options p {
	margin-top: 5px;
	font-weight: 500;
	text-indent: 10px;
}
@media(max-width:992px){
	.page .page-content .html {
		margin-top: 20px;
	}
}
.page .page-content .html .well {
	background-color: #f8f8f8;
}
.page .page-content .html textarea {
	display: inline-block;
	min-height: 150px;
	min-width: 100%;
	max-width: 100%;
	margin-bottom: 0;
}
.page .page-content .html textarea:focus,
.page .page-content .html textarea:active {
	outline: none;
}
.page .page-content .preview .well {
	background-color: #fff;
	margin-bottom: 8px;
}


/*==================================
				HOME
===================================*/
#home-page header {
	padding: 100px 0;
	height: 450px;
	color: #fff;
	background-color: #FF4081;
}
@media(max-width:661px){
	#home-page header {
		height: 500px;
	}
}
#home-page header img {
	height: 50px;
	width: auto;
	animation-duration: 1.8s;
}
#home-page header h1 {
	font-size: 6em;
	animation-delay: .5;
	animation-duration: .8s;
}
#home-page header h2 {
	font-style: italic;
	animation-duration: .8s;
}
#home-page header #get-started {
	margin-top: 30px;
	animation-delay: 10s;
}
#home-page > section {
	margin-top: 25px;
	margin-bottom: 25px;
}
#home-page > section .features .col-md-12  {
	background-color: #fff;
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
} 
#home-page > section .features p {
	line-height: 28px;
	margin-left: 25px;
	margin-right: 25px;
} 
#home-page > section .features i {
	color: #444;
	font-size: 50px;
	width: auto;
}


/*==================================
		   NAVBAR COMPONENT
===================================*/
#navbar-page #navbar-preview {
	height: 100px;
}
#navbar-page #navbar-preview .navbar-fixed-top,
#navbar-page #navbar-preview .navbar-fixed-bottom,
#navbar-page #navbar-preview .navbar-static-top  {
	position: relative;
	z-index: 50;
}


/*==================================
		   BUTTON COMPONENT
===================================*/
#button-page #button-glyphicon label:nth-child(1) {
	margin-left: -1px;
}






/*#yourElement {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}*/